/** @format */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree";
}
.container {
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.9);
  border: 1px solid black;
}

.svg {
  width: 420px;
  margin-left: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.btn-pub {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: hsl(47, 88%, 63%);
  color: black;
  font-weight: 800;
  padding: 10px;
  width: 100px;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Figtree";
  font-size: 18px;
  margin-top: 30px;
}

.published {
  font-weight: 500;
}
.html {
  margin-left: 15px;
}

.html-css {
  font-size: 30px;
}

.html-css:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.image {
  width: 40px;
  height: 40px;
}

.footer {
  margin-top: 30px;
  margin-left: 15px;
}

.name {
  position: relative;
  top: -15px;
  margin-left: 10px;
  font-weight: 800;
}

.language {
  display: block;
  width: 390px;
  line-height: 1.5;
  font-size: 20px;
  color: hsl(0, 0%, 50%);
}
